__pycache__/
videos/
.cache/
lib/
/env/
/env-ampere/
outputs/
.hydra/
experiments/
old-experiments/
failed-experiments/
data
shapes
*.log
notebooks/zoo.ipynb
.ipynb_checkpoints/
checkpoints/
*.egg-info/
/notebooks/
/bash-scripts/
*.mp4
*.jpg
*.html
